body {
  /*width: 1680px;*/
  height: 100vw;
}

div {

  font-family: ;
}

/* navbar -------------------------------------------------------------------------------*/
.navbar {
  display: flex;
}

.navbar div {
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.nb-item01 {
  flex: 1 0 13%;
  background:  #111;
}

.nb-item02 {
  flex: 1 0 16%;
  background:  #333;
}

.nb-item03 {
  flex: 1 0 16%;
  background:  #333;
}

.nb-item04 {
  flex: 1 0 16%;
  background:  #333;
}

.nb-item05 {
  flex: 1 0 16%;
  background:  #333;
}

.nb-item06 {
  flex: 1 0 16%;
  background:  #333;
}

.nb-item07 {
  flex: 1 0 7%;
  background:  #222;
}

/* feature-articles ---------------------------------------------------------------------*/
.feature-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.feature-articles div {
  flex: 0 50%;
  flex: 1 0 50%;
  height: 386px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.fa01 {

  background:  #555;
}

.fa02 {
  
  background:  #666;
}

.fa03 {
  
  background:  #888;
}

.fa04 {
  
  background:  #999;
}