body {
  /*width: 1680px;*/
  height: 100vw;
}

div {
  color: #fff;
}

/* navbar -------------------------------------------------------------------------------*/
.navbar {
  display: flex;
}

.navbar div {
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.nb-item01 {
  flex: 1 0 13%;
  background:  #111;
}

.nb-item02 {
  flex: 1 0 16%;
  background:  #333;
}

.nb-item03 {
  flex: 1 0 16%;
  background:  #333;
}

.nb-item04 {
  flex: 1 0 16%;
  background:  #333;
}

.nb-item05 {
  flex: 1 0 16%;
  background:  #333;
}

.nb-item06 {
  flex: 1 0 16%;
  background:  #333;
}

.nb-item07 {
  flex: 1 0 7%;
  background:  #222;
}

/* feature-articles ---------------------------------------------------------------------*/
.feature-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.feature-articles div {
  flex: 1 0 50%;
  height: 386px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.fa01 {
  background:  #555;
}

.fa02 {
  background:  #666;
}

.fa03 {
  background:  #888;
}

.fa04 {
  background:  #999;
}

/* membership-panel ---------------------------------------------------------------------*/
.membership-panel {
  height: 477px;
  display: flex;
  justify-content: center;
  align-items: center; 
  background:  #555;
}

/* latest-posts -----------------------------------------------------------------------*/
.latest-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.latest-posts div {
  height: 599px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lp01 {
  flex: 1 0 25%;
  background:  #444;
}

.lp02 {
  flex: 1 0 25%;
  background:  #666;
}

.lp03 {
  flex: 1 0 25%;
  background: #888;
}

.lp04 {
  flex: 1 0 25%;
  background: #bebebe;
}

.lp05 {
  flex: 1 0 50%;
  background: #222;
}

.lp06 {
  flex: 1 0 25%;
  position: relative;
  background: #777;
}

.lp07 {
  flex: 1 0 25%;
  position: relative;
  background: #999;
}

.lp08 {
  flex: 1 0 25%;
  position: relative;
  background: #555;
}

.lp09 {
  flex: 1 0 25%;
  position: relative;
  background: #999;
}

.lp10 {
  flex: 1 0 50%;
  background: #222;
}

#arrow {
  width: 100%;
  height: 73px !important;
  bottom: 0px;
  position: absolute;
}

#arrow.a01 {
  background: #999;
}

#arrow.a02 {
  background: #dcdcdd;
}

#arrow.a03 {
  background: #999;
}

#arrow.a04 {
  background: #dcdcdd;
}

/* see-all-articles -------------------------------------------------------------------*/
.see-all-articles01 {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center; 
  background:  #c4c4c4;
}

/* blue-panel -------------------------------------------------------------------------*/
.blue-panel {
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center; 
  background: #444;
}

/* community-links -------------------------------------------------------------------------*/
.community-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.community-links div {
  height: 599px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cl01 {
  flex: 1 0 20%;
  background:  #444;
}

.cl02 {
  flex: 1 0 80%;
  background:  #666;
}

.cl03 {
  flex: 1 0 50%;
  position: relative;
  background:  #444;
}

.cl04 {
  flex: 1 0 50%;
  position: relative;
  background:  #555;
}

.cl05 {
  flex: 1 0 50%;
  position: relative;
  background:  #666;
}

.cl06 {
  flex: 1 0 50%;
  position: relative;
  background:  #777;
}

.cl07 {
  flex: 1 0 50%;
  position: relative;
  background:  #888;
}

.cl08 {
  flex: 1 0 50%;
  position: relative;
  background:  #999;
}

#bio-image {
  width: 5%;
  height: 73px !important;
  bottom: 0px;
  position: absolute;
}

#bio-image.bi01 {
  background: #222;
}

#bio-image.bi02 {
  background: #222;
}

#bio-image.bi03 {
  background: #333;
}

#bio-image.bi04 {
  background: #444;
}

#bio-image.bi05 {
  background: #555;
}

#bio-image.bi06 {
  background: #666;
}

#bio-image.bi07 {
  background: #777;
}


/* more-links -------------------------------------------------------------------------*/
.more-links {
  height: 980px;
  display: flex;
  justify-content: center;
  align-items: center; 
  background: #555;
}

/* feature-panel -------------------------------------------------------------------------*/
.feature-panel {
  height: 980px;
  display: flex;
  justify-content: center;
  align-items: center; 
  background: #555;
}

/* curated-posts -------------------------------------------------------------------------*/
.curated-posts {
  height: 980px;
  display: flex;
  justify-content: center;
  align-items: center; 
  background: #555;
}

/* newsletter-panel -------------------------------------------------------------------------*/
.newsletter-panel {
  height: 980px;
  display: flex;
  justify-content: center;
  align-items: center; 
  background: #555;
}

/* see-all-articles -------------------------------------------------------------------------*/
.see-all-articles02 {
  height: 980px;
  display: flex;
  justify-content: center;
  align-items: center; 
  background: #555;
}

/* footer -----------------------------------------------------------------------------*/
.footer {
  height: 654px;
  display: flex;
  justify-content: center;
  align-items: center; 
  background: #555;
}