body {
  /*width: 1680px;*/
  height: 100vw;
}

div {
  color: #fff;
}

/* navbar -----------------------------------------------------------------------------*/
.navbar {
  display: flex;
}

.navbar div {
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.nb-logo {
  flex: 1 0 13%;
  background:  #111;
}

.nb-item {
  flex: 1 0 16%;
  background:  #333;
}

.nb-button {
  flex: 1 0 7%;
  background:  #222;
}

/* feature-articles -------------------------------------------------------------------*/
.feature-articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.feature-articles div {
  flex: 1 0 50%;
  height: 386px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.fa01 {
  background:  #555;
}

.fa02 {
  background:  #666;
}

.fa03 {
  background:  #888;
}

.fa04 {
  background:  #999;
}

/* membership-panel -------------------------------------------------------------------*/
.membership-panel {
  height: 477px;
  display: flex;
  justify-content: center;
  align-items: center; 
  background:  #555;
}

/* latest-posts -----------------------------------------------------------------------*/
.latest-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.latest-posts > div {
  height: 599px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lp01 {
  flex: 1 0 25%;
  background:  #444;
}

.lp02 {
  flex: 1 0 25%;
  background:  #666;
}

.lp03 {
  flex: 1 0 25%;
  background: #888;
}

.lp04 {
  flex: 1 0 25%;
  background: #bebebe;
}

.lp05 {
  flex: 1 0 50%;
  background: #222;
}

.lp06 {
  flex: 1 0 25%;
  position: relative;
  background: #777;
}

.lp07 {
  flex: 1 0 25%;
  position: relative;
  background: #999;
}

.lp08 {
  flex: 1 0 25%;
  position: relative;
  background: #555;
}

.lp09 {
  flex: 1 0 25%;
  position: relative;
  background: #999;
}

.lp10 {
  flex: 1 0 50%;
  background: #222;
}

.arrow {
  width: 100%;
  height: 73px;
  bottom: 0px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a01 {
  
  background: #999;
}

.a02 {
  background: #dcdcdd;
}

.a03 {
  background: #999;
}

.a04 {
  background: #dcdcdd;
}

/* see-all-articles -------------------------------------------------------------------*/
.see-all-articles01 {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center; 
  background:  #c4c4c4;
}

/* blue-panel -------------------------------------------------------------------------*/
.blue-panel {
  height: 977px;
  display: flex;
  justify-content: center;
  align-items: center; 
  background: #444;
}

/* community-links --------------------------------------------------------------------*/
.community-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.community-links > div {
  height: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cl01 {
  flex: 1 0 100%;
  position: relative;
  background:  #444;
}

.cl02 {
  flex: 1 0 50%;
  position: relative;
  background:  #666;
}

.cl03 {
  flex: 1 0 50%;
  position: relative;
  background:  #444;
}

.cl04 {
  flex: 1 0 50%;
  position: relative;
  background:  #555;
}

.cl05 {
  flex: 1 0 50%;
  position: relative;
  background:  #666;
}

.cl06 {
  flex: 1 0 50%;
  position: relative;
  background:  #777;
}

.cl07 {
  flex: 1 0 50%;
  position: relative;
  background:  #888;
}


.bio-image {
  width: 18%;
  height: 73px;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bi01 {
  height: 286px;
  background: #222;
}

.bi02 {
  background: #222;
}

.bi03 {
  background: #333;
}

.bi04 {
  background: #444;
}

.bi05 {
  background: #555;
}

.bi06 {
  background: #666;
}

.bi07 {
  background: #777;
}


/* more-links -------------------------------------------------------------------------*/
.more-links {
  height: 172px;
  display: flex;
  justify-content: center;
  align-items: center; 
  background: #dcdcdc;
}

/* feature-panel ----------------------------------------------------------------------*/
.feature-panel {
  height: 323px;
  display: flex;
  justify-content: center;
  align-items: center; 
  background: #333;
}

/* curated-posts ----------------------------------------------------------------------*/
.curated-posts {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.curated-posts > div {
  height: 788px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.cp01 {
  flex: 1 0 25%;
  position: relative;
  background: #333;
}

.cp02 {
  flex: 1 0 25%;
  position: relative;
  background: #444;
}

.cp03 {
  flex: 1 0 25%;
  position: relative;
  background: #666;
}

.cp04 {
  flex: 1 0 25%;
  position: relative;
  background: #999;
}

/* newsletter-panel -------------------------------------------------------------------*/
.newsletter-panel {
  height: 975px;
  display: flex;
  justify-content: center;
  align-items: center; 
  background: #222;
}

/* see-all-articles -------------------------------------------------------------------*/
.see-all-articles02 {
  height: 185px;
  display: flex;
  justify-content: center;
  align-items: center; 
  background: #999;
}

/* footer -----------------------------------------------------------------------------*/
.footer {
  height: 728px;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  position: relative;
  align-items: center;
  justify-content: center;
  background: #222;
}

.footer-title {
  height: 31px;
  width: 1515px;
  display: flex;
  flex: 0 1 auto;
  background: #555;
}

.footer-topics {
  height: 224px;
  display: flex;
  flex: 0 1 auto;
  background: #555;
}

.footer-image {
  height: 200px;
  width: 200px;
  display: flex;
  flex: 0 1 auto;
  position: absolute;
  background: #555;
}

.footer-notes {
  height: 224px;
  display: flex;
  flex: 0 1 auto;
  background: #555;
}

.footer-links {
  height: 224px;
  display: flex;
  flex: 0 1 auto;
  background: #555;
}